<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand font-weight-bold" href="/">CreditCounselor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="districts-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Districts
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/districts/unemployment-rate">Average Unemployment Rate per Region</a>
          <a class="dropdown-item" href="/districts/salary">Average Salary per Region</a>
          <a class="dropdown-item" href="/districts/commited-crimes">Average Committed Crimes</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="accounts-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/accounts/contract-status">Contract Status</a>
          <a class="dropdown-item" href="/accounts/account-district">Find an Account's District</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="loans-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Loans
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/loans/loan-count">Number of Loans per Region</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transactions-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Transactions
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/transactions/region-transactions">Transactions per Region</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="cards-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cards
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cards/issuance">Total Card Issuance per Region</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="analytics-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Analytics
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/analytics/transactions-per-quarter">Transactions per quarter</a>
        </div>
      </li>
    </ul>

  </div>
</nav>