<h1>{{title}}</h1>

<p>slice</p>
<canvas id="transactions-per-quarter"></canvas>

<script src="/js/commons.bundle.js"></script>
<script src="/js/analytics-transactions-per-quarter.bundle.js"></script>