<div class="d-flex align-items-center text-center text-lg-left">
  <div class="w-lg-50">
    <h1 class="mb-4">CreditCounselor</h1>
    <p>CreditCounselor is a website for Czech banks to identify the habits of their clients. Search information about
      the districts, regions, loans, transactions, and card issuance.</p>
    <a href="/loans/loan-count"><button class="btn btn-primary m-2 m-lg-0">Search for Loan details</button></a>
    <a href="/transactions/region-transactions"><button class="btn btn-primary m-2 m-lg-0">Search for Transaction
        details</button></a>
  </div>
  <img src="/svg/undraw_wallet_aym5.svg" class="img-responsive d-none d-lg-block w-50" alt="Wallet">

</div>