<h1 class="mb-4">{{title}}</h1>

<form method="GET" action="/api/loan-count" id="form-cnt-loans">
  <div class="row align-items-end">
    <div class="col-12">
      <div class="form-group">
        <label for="status">Loan Status</label>
        <select class="form-control" id="status" name="status">
          <option value="A">Fully paid</option>
          <option value="B">Not Paid</option>
        </select>
      </div>
    </div>
  </div>

</form>

<div id="loan-count-table"></div>
<h3 class="text-center d-none" id="no-records">No records found</h3>

<script src="/js/commons.bundle.js"></script>
<script src="/js/loans-loan-count.bundle.js"></script>